.heroContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    height: 75vh;
    overflow: hidden;
    h1{
        font-size: 5.5rem;
        margin-bottom: 2rem;
        text-transform:capitalize;
        color: #f8f7f7;
    }
}
app-cta {
    margin-top: 4rem;
}
@media screen and (max-width: 575px) {
    .heroContent {
        height: 450px;
        h1{
            font-size: 4rem;
        }
    }
}

@media screen and (min-height: 1190px) {
    .heroContent {
        height: 890px;
    }
}