@import '../../styles.scss';

img {
    width: 40px;
    height: 35px;
    margin: 2rem;
    transition: 100ms all ease;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

a {
    img:hover {
        transition: 100ms all ease;
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
        -o-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

h2 {
    margin-top: 4rem;
}

 
@media screen and (max-width: 575px) {
    h2 {
        font-size: 3rem;
        margin-top: 4rem;
    }
    img {
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
        -o-filter: grayscale(0%);
        filter: grayscale(0%);
        width: 35px;
        height: 30px;
        margin: 1rem;
    }
  }