.card {
  width: 275px;
  height: 450px;
  margin: 75px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none !important;
  &:hover {
    .card-image{
      transform: translateY(-10px);
      transition: all 0.2s ease;
      img{
        filter: grayscale(0);
        transition: all 0.2s ease;
      }
    }
  }
}

$shifting-size: -30%;
.card-image {
  height: 60%;
  width: 70%;
  // box-shadow: 0 8px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  z-index: 4;
  margin-bottom: $shifting-size;
  transition: all 0.2s ease;
   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
      filter: grayscale(100);
      box-shadow: 0 8px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
}

.card-description {
  height: 45%;
  background: #ebebeb;
  box-sizing: content-box;
  padding: 0 1.5em 1.5em;
  padding-top: -$shifting-size;
  z-index: 2;
  color: rgba(0, 0, 0, 0.87);  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  h1 {
    font-size: 1.25rem;
    margin: 1.5rem 0 0 0;
    padding: 0;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0.3em;
  }
  h4 {
      font-size: 0.85rem;
      font-weight: 300;
      font-style: normal;
      margin-bottom: 0.3em;
      font-style: italic;  
  }

  p {
    width: 100%;
    //color: #8d8d8d;
    color: #474747 ;
    line-height: 1.4em;
    font-size: 0.75rem;
    font-weight: 300;
    margin: 0 0 0.5rem 0;
    padding: 0;
  }
}

.card-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  button {
    height: 30px;
    width: 100px;
    box-sizing: border-box;
    border: 1px #474747 solid;
    font-size: 0.8rem;
    color: #474747;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 5px;
    a {
      color: #474747 !important;
      text-decoration: none;
    }
    
    &:hover {
      background-color: #66b1f1;
      border-color: #66b1f1;
      transition: all 0.2s ease;
      a {
        color: #fff !important;      
        transition: all 0.2s ease;
      }
    }
  }

}
.not-active {
  button {
    border: 1px #979797 solid !important;
    color: #979797 !important;
    cursor: not-allowed;
    a {
      color: #979797 !important;
      cursor: not-allowed;
    }
    &:hover {
      background-color: transparent !important;
      border-color: #979797 !important;
      cursor: not-allowed;
      a {
        color: #979797 !important;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .card {
    width: 100%;
  }
  .card-btns {
    button {
      width: 80%;
      height: 25px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .card {
    margin: 45px auto;
    width: 85%;
  }
  .card-description {
    height: auto;
  }
  .card-btns {
    button {
      width:80px;
      height: 25px;
    }
  }
}

@media screen and (max-width: 991px) {
  .card {
    width: 100%;
    margin: 35px auto;
    &:hover {
      .card-image{
        transform: translateY(0px);
        img{
          filter: grayscale(0);
        }
      }
    }
  }
  .card-image {
     img {
        filter: grayscale(0);
    }
  }
  .card-description {
    height: 45%;
  }
}

@media screen and (max-width: 757px) {
  .card-description {
    width: 85%;
  }
}

@media screen and (max-width: 575px) {
  .card {
    margin: 5px auto;
  }
  .card-image{
    height: 40%;
    width: 80%;
  }
  .card-description {
    justify-content: space-evenly;
  }
}