.card {
  height: 215px;
  position: relative;
  width: 370px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  display: grid;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

h3 {
  color: white;
  font-size: 24px;
  margin: 20px 0 0 20px;
  z-index: 3;
}

p {
  color: white;
  font-weight: 400;
  font-size: 16px;
  align-self: end;
  margin: 0 0 20px 20px;
  letter-spacing: 0.5px;
  z-index: 3;
}

img {
  position: absolute;
  top: 0;
  height: 110%;
  width: 110%;
  object-fit: cover;
  z-index: 0;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
  filter: grayscale(1);
}

.card:hover {
  transform: scale(1.035, 1.035);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  filter: grayscale(0);
}

.card:hover img {
  transform: translateY(-10px);
  filter: grayscale(0);
}
a {
  z-index: 1;
  color: transparent;
}
@media screen and (max-width: 1400px) {
  .card {
    width: 300px;
  }
}
@media screen and (max-width: 991px) {
  .card {
    margin-bottom: 1.2rem;
    height: 170px;
  }
  img {
    transition: 0;
    filter: grayscale(0);
  }
  
  .card:hover {
    transform: 0;
  }
  
  .card:hover img {
    transform: translateY(0px);
    filter: grayscale(0);
  }
  p {
    font-size: 0.9rem;
  }
}
