    <div class="row example-split d-flex justify-content-center align-items-center">
        <div class="col-12 d-flex justify-content-center align-items-center title">
            <h2>
                Career
            </h2>
        </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-md-10">
        <ul class="timeline timeline-split">
            <li *ngFor="let item of data"  class="timeline-item">
                <div class="timeline-info" data-aos="fade-up">
                    <span>{{item.dates}}</span>
                </div>
                <div class="timeline-marker"></div>
                <div class="timeline-content" data-aos="fade-up">
                    <h3 class="timeline-title">{{item.company}}<h5>{{item.role}}</h5></h3>
                    <p class="content">{{item.description}}</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="radar-type1"> <span class="cir-zero"></span> <span class="cir-one"></span> <span class="cir-two"></span> <span class="cir-three"></span></div>
</div>
