.content { white-space: pre-line;
line-height: 1.4;
font-weight: 300 !important; }
.title{
  margin-top: 7rem;
  margin-bottom: 3rem;
}

$primary-color: #3e7fd5;
$primary-color-hover: scale-color($primary-color, $lightness: 32%);

body {
    padding: 0;
    -webkit-font-smoothing: antialiased;

}
h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}
h5 {
  margin-top: 0.5rem;
}
a {
    color: $primary-color;
    &:hover {
        color: $primary-color-hover;
        text-decoration: none;
    }
}
.example-header {
    color: #FFF;
    font-weight: 300;
    padding: 3em 1em;
    text-align: center;
    h1 {
        color: #FFF;
        font-weight: 300;
        margin-bottom: 20px
    }
    p {
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 700;
    }
}
.container-fluid {
    .row {
        padding: 0 0 4em 0;
        &:nth-child(even) {
            background: #F1F4F5;
        }
    }
}

.example-title {
    text-align: center;
    margin-bottom: 60px;
    padding: 3em 0;
    p {
        margin: 0 auto;
        max-width: 400px;
    }
}

/*==================================
    TIMELINE
==================================*/

    /*-- GENERAL STYLES
    ------------------------------*/
    .timeline {
        line-height: 1.4em;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        h1, h2, h3, h4, h5, h6 {
            line-height: inherit;
        }
    }

    /*----- TIMELINE ITEM -----*/

    .timeline-item {
        padding-left: 40px;
        position: relative;
        &:last-child {
            padding-bottom: 0;
        }
    }

    /*----- TIMELINE INFO -----*/

    .timeline-info {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 3px;
        margin: 0 0 .5em 0;
        text-transform: uppercase;
        white-space: nowrap;
        text-align: right;
    }
    /*----- TIMELINE MARKER -----*/

    .timeline-marker {
        position: absolute;
        top: 0; bottom: 0; left: 0;
        width: 15px;
        &:before {
            background: $primary-color;
            border: 3px solid transparent;
            border-radius: 100%;
            content: "";
            display: block;
            height: 15px;
            position: absolute;
            top: 4px; left: 0;
            width: 15px;
            transition: background 0.3s ease-in-out,
                    border 0.3s ease-in-out;
        }
        &:after {
            content: "";
            width: 3px;
            background: #ebebeb;
            display: block;
            position: absolute;
            top: 24px; bottom: 0; left: 6px;
        }
        .timeline-item:last-child &:after {
            content: none;
        }
    }
    .timeline-item:not(.period):hover .timeline-marker:before {
        background: transparent;
        border: 3px solid $primary-color;
    }

    /*----- TIMELINE CONTENT -----*/

    .timeline-content {
        padding-bottom: 40px;
        p:last-child {
            margin-bottom: 0;
        }
    }

    /*----- TIMELINE PERIOD -----*/
    
    .period {
        padding: 0;
        .timeline-info {
            display: none;
        }
        .timeline-marker {
            &:before {
                background: transparent;
                content: "";
                width: 15px;
                height: auto;
                border: none;
                border-radius: 0;
                top: 0;
                bottom: 30px;
                position: absolute;
            }
            &:after {
                content: "";
                height: 32px;
                top: auto;
            }
        }
        .timeline-content {
            padding: 40px 0 70px;
        }
        .timeline-title {
            margin: 0;
        }
    }

    /*----------------------------------------------
        MOD: TIMELINE SPLIT
    ----------------------------------------------*/

        .timeline-split {
            @media (min-width: 768px) {
                .timeline {
                    display: table;
                }
                .timeline-item {
                    display: table-row;
                    padding: 0;
                }
                .timeline-info,
                .timeline-marker,
                .timeline-content,
                .period .timeline-info {
                    display: table-cell;
                    vertical-align: top;
                }
                .timeline-marker {
                    position: relative;
                }
                .timeline-content {
                    padding-left: 30px;
                }
                .timeline-info {
                    padding-right: 30px;
                }
                .period .timeline-title {
                    position: relative;
                    left: -45px;
                }
            }
        }
        @media screen and (max-width: 991px) {
          .timeline-info {
            font-size: 10px;
            letter-spacing: 2px;
          }
        }
    @media screen and (max-width: 767px) {
      .timeline-info {
        text-align: left;
      }
      p {
        font-size: 0.9rem;
      }
      .title{
        margin-top: 5rem;
      }
      h5 {
        font-size: 1rem;
      }
      .timeline-content{
        padding-bottom: 20px;
      }
      .timeline-item:not(.period):hover .timeline-marker:before {
        background: $primary-color;
        border: 3px solid $primary-color;
    }
    }
  

    /*----------------------------------------------
        MOD: MARKER OUTLINE
    ----------------------------------------------*/
        
        .marker-outline {
            .timeline-marker {
                &:before {
                    background: transparent;
                    border-color: $primary-color;
                }
            }
            .timeline-item:hover .timeline-marker:before {
                background: $primary-color;
            }
        }

        .radar-type1 { background: url(https://virtina.com/wp-content/themes/virtina/images/radar.svg) no-repeat; width: 356px; opacity: .8; height: 356px; z-index: -1; background-size: 356px 356px; position: absolute; top: 1480px;
            left: 95%;transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);}
.radar-type1 .cir-one {display: block; position: absolute; z-index: 1024; left: 0%; right: 0%; top: 0%; bottom: 50%; will-change: transform; -webkit-transform-origin: 50% 100%; -moz-transform-origin: 50% 100%; transform-origin: 50% 100%; -webkit-animation: rotate360 6s infinite linear; -moz-animation: rotate360 6s infinite linear; animation: rotate360 6s infinite linear; }
.radar-type1 .cir-one:after {content: '';display: inline-block;position: absolute;background: #3E7FD5;width: 12px;height: 12px;right: 198px;bottom:72px; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%; border-radius: 100%;}
.radar-type1 .cir-two {display: block; position: absolute; z-index: 1024; left: 0%; right: 0%; top: 0%; bottom: 50%; will-change: transform; -webkit-transform-origin: 50% 100%; -moz-transform-origin: 50% 100%; transform-origin: 50% 100%; -webkit-animation: rotate360 12s infinite linear; -moz-animation: rotate360 12s infinite linear; animation: rotate360 12s infinite linear; }
.radar-type1 .cir-two:after {content: '';display: inline-block;position: absolute;background: #A5BDD3;width: 26px;height: 26px;right: 268px;bottom:72px; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%; border-radius: 100%;}
.radar-type1 .cir-three {display: block; position: absolute; z-index: 1024; left: 0%; right: 0%; top: 0%; bottom: 50%; will-change: transform; -webkit-transform-origin: 50% 100%; -moz-transform-origin: 50% 100%; transform-origin: 50% 100%; -webkit-animation: rotate360 8s infinite linear; -moz-animation: rotate360 8s infinite linear; animation: rotate360 8s infinite linear; }
.radar-type1 .cir-three:after {content: '';display: inline-block;position: absolute;background: #35AFA0 ;width: 16px;height: 16px;right: 328px;bottom:72px; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%; border-radius: 100%;}
.radar-type1 .cir-zero {display: block; position: absolute; z-index: 1024; left: 0%; right: 0%; top: 0%; bottom: 50%; will-change: transform; -webkit-transform-origin: 50% 100%; -moz-transform-origin: 50% 100%; transform-origin: 50% 100%; -webkit-animation: rotate360 8s infinite linear; -moz-animation: rotate360 8s infinite linear; animation: rotate360 8s infinite linear; }
.radar-type1 .cir-zero:after {content: '';display: inline-block;position: absolute;background: #7337BF ;width: 10px;height: 10px;right: 158px;bottom:29px; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%; border-radius: 100%;}

@-moz-keyframes rotate360 {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  to { -moz-transform: rotate(-360deg); transform: rotate(-360deg); }
}
@-webkit-keyframes rotate360 {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(-360deg); transform: rotate(-360deg); }
}
@keyframes rotate360 {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(-360deg); transform: rotate(-360deg); }
}

@-moz-keyframes stretch {
  10%, 100% {
   -moz-transform: scale(1);
  }
  0% {
    -moz-transform: scale(1);
    
  }
  5% {
    -moz-transform: scale(1.3);
    
  }
}
@-webkit-keyframes stretch {
  10%, 100% {
   -webkit-transform: scale(1);
  }
  0% {
    -webkit-transform: scale(1);
    
  }
  5% {
    -webkit-transform: scale(1.3);
    
  }
}
@keyframes stretch {
  10%, 100% {
   transform: scale(1);
  }
  0% {
    transform: scale(1);
    
  }
  5% {
    transform: scale(1.3);
    
  }
}
@media screen and (max-width: 575px) {
    .radar-type1 {
        display: none !important;
    }
}
