<!-- <div id="jumbotron">
<div class="container">
    <div class="row d-flex justify-content-center align-items-center" >
        <h3>
            I’ve had the opportunity to design and develop for these innovative brands
        </h3>
    </div>
    <div class="mobile row justify-content-center align-items-center">
        <div *ngFor="let item of data" data-aos="fade-up" class='logos col-6 col-xl-4 col-lg-4'>
            <a href="{{item.link}}" target="_blank">
                <img loading="lazy" src="{{item.logo}}">
            </a>
        </div>
    </div>
    <div class="desktop slider">
        <div class="slide-track slider-animation">
            <div *ngFor="let item of data" class="slide">
                <a href="{{item.link}}" target="_blank">
                    <img loading="lazy" src="{{item.logo}}">
                </a>            
            </div>
            <div *ngFor="let item of data" class="slide">
                <a href="{{item.link}}" target="_blank">
                    <img loading="lazy" src="{{item.logo}}">
                </a>            
            </div>
        </div>
    </div>
  </div>
  </div>
 -->
 <div id="jumbotron">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center" >
            <h3>
                I’ve had the opportunity to design and develop for these innovative brands
            </h3>
        </div>
        <div class="row justify-content-center align-items-center">
            <div *ngFor="let item of data" data-aos="fade-up" class='logos col-6 col-xl-4 col-lg-4'>
                <!-- <a href='https://wearesparkent.com/' class="card card2" target="_blank">
                    <div class="pic"></div>
                    <button>
                    </button>
                </a> -->
                <a href="{{item.link}}" target="_blank">
                    <img loading="lazy" src="{{item.logo}}">
                </a>
            </div>
        </div>
      </div>
      </div>
