#jumbotron {
    background-image: url('/assets/img/BrandBackground.svg');
    margin-left: -33.33vw;
    margin-right: -33.33vw;
    padding: 5rem 0 3rem;
    margin-top: 5rem;
}

.destop {
    display: flex;
}
.mobile {
    display: none;
}

.logos, a {
    display: flex;
    justify-content: center;
    align-items: center;
}
// .logos {
//     padding: 2rem 0;
//     img {
//         width: 95%;
//         opacity: 0.7;
//         transition: all 0.1s ease;
//         &:hover{
//             transform: scale(1.05);
//             opacity: 1;
//             transition: all 0.2s ease;
//         }
//     }
// }

h3 {
    color: #D2D2D2 !important;
    text-align: center;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 757px) {

    .desktop {
        display: none !important;
    }
    .mobile {
        display: flex !important;
    }
    .logos {
       padding: 1.5rem 0;
        img {
            width: 80%;
            opacity: 0.8;
            transition: all 0.2s ease;
        }
    }
}

@media screen and (max-width: 575px) {
    #jumbotron {
        margin-left: -9vw;
        margin-right: -9vw;
        padding: 4rem 0 3rem;
        margin-top: 10%;
    }

    .logos {
        padding: 1.5rem 0;
        img {
            width: 70%;
            opacity: 0.8;
            transition: all 0.2s ease;
        }
    }
    h3 {
        font-size: 0.9rem;
        margin-bottom: 2rem;
        line-height: 1.4;
    }
}


.slider {
    padding: 50px 0;
  }
  
  .slider .slide {
      //height: 40px;
      display: flex;
      padding-right: 100px;
      position: relative;
      justify-content: center;
      align-items: center;
  }
  
  .slider .slide img {
      max-width: none;
      opacity: 0;
      transition: 0.1s ease-out;
  }
  .slider .slide:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-size: contain !important;
      opacity: 1;
      transition: 0.1s ease-out;
  }
  @keyframes scroll {
      0% {
          transform: translateX(0);
      }
      100% {
          transform: translateX(-3330px);
      }
  }
  .slider {
      //height: 40px;
      margin: auto;
      //overflow: hidden;
      position: relative;
      width: 100%;
  }
  .slider::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
  }
  .slider::before {
      left: 0;
      top: 0;
  }
  .slider .slider-animation {
      animation: scroll 30s linear infinite;
      display: flex;
      //width: calc(2000px * 9);
      width: 4296px;
  }
  .slider .slider-animation:hover {
      animation-play-state: paused;
  }
  .slider .slide {
      //height: 40px;
      padding-right: 120px;
      position: relative;
  }
  
  .slider .slide img {
      max-width: none;
      opacity: 0.5;
      transition: 0.1s ease-out;
  }
  .slider .slide:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-size: contain !important;
      opacity: 1;
      transition: 0.1s ease-out;
  }
  .slider .slider-animation:hover .slide:hover:before {
      opacity: 0.5;
  }
  .slider .slider-animation:hover .slide:hover  img{
      opacity: 1;
  }
//   .slider .slide.yahoo:before {
//       background: url("https://hypra.tech/wp-content/themes/hypra_theme/img/yahoo_g.png") no-repeat;
//   }
//   .slider .slide.bloomberg:before {
//       background: url("https://hypra.tech/wp-content/themes/hypra_theme/img/bloomberg_g.png") no-repeat;
//   }
//   .slider .slide.forbes:before {
//       background: url("https://hypra.tech/wp-content/themes/hypra_theme/img/forbes_g.png") no-repeat;
//   }
//   .slider .slide.forklog:before {
//       background: url("https://hypra.tech/wp-content/themes/hypra_theme/img/forklog_g.png") no-repeat;
//   }
//   .slider .slide.ain:before {
//       background: url("https://hypra.tech/wp-content/themes/hypra_theme/img/ain_g.png") no-repeat;
//   }
//   .slider .slide.vector:before {
//       background: url("https://hypra.tech/wp-content/themes/hypra_theme/img/vector_g.png") no-repeat;
//   }
//   .slider .slide.inventure:before {
//       background: url("https://hypra.tech/wp-content/themes/hypra_theme/img/inventure_g.png") no-repeat;
//   }